body{
    margin-left: 0px;
    background-color: #ffffff;
    font-family: 'Inter', sans-serif;
    color: #0E0546;
}

// navbar
.navbar{
    img{
        height: 50px;
        width: 120px;
    }
}
.navbar-light{
    .navbar-nav{
        .navbar-link{
            color: #0E0546;

            &.active{
                font-weight: bold;
                color: #0E0546 !important;
            }
        }
    }
}
.navbar-collapse{
    margin-left:51%;
}
.btn-navbar-right{
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-left: -10px !important;

    height: 70px;
    border-radius: 0;
}
.btn-login{
    background-color: #0E0546;
    color: #ffffff;

    &:hover{
        background-color: #1e3777;
        color: #ffffff;
    }
}

// header
header{
    padding: 180px 0 165px;
    margin-top: -70px;
    background-image: url('../images/banner.jpg');
    background-size: cover;

    h1,p{
        color: #ffffff;
    }
    h1{
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 50px;
    }
    p{
        font-size: 22px;
    }
    .btn-get-started{
        background-color: #FB7C1B;
        color: #ffffff;

        &:hover{
            background-color: #ffaa69;
            color: #ffffff;
        }
    }
}

// statistics
.section-stats{
    margin-top: -50px;

    .stats-detail{
        padding-top: 15px;
        background-color: #ffffff;
        padding-left: 40px;

        h2{
            font-size: 30px;
            margin-bottom: 0;
        }
        p{
            font-size: 20px;
            font-weight: lighter;
        }
    }
}

// popular
.section-popular{
    min-height: 540px;
    background-color: #0B0338;
    margin-top: -50px;
    margin-bottom: -180px;

    .section-popular-heading{
        margin-top: 150px;

        h2,p{
            color: #ffffff;
        }
        h2{
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 40px;
        }
    }
}

.section-popular-content{
    .section-popular-travel{
        .card-travel{
            min-height: 380px;
            background-color: #dddddd;
            color: #ffffff;
            padding: 30px;
            background-size: cover;
            margin-bottom: 20px;
        }
        .travel-country{
            font-size: 18px;
            color: #ffffff;
        }
        .travel-location{
            font-size: 26px;
            color: #ffffff;
        }
        .travel-button{
            .btn-travel-details{
                background-color: #FB7C1B;
                color: #ffffff;

                &:hover{
                    background-color: #ffaa69;
                    color: #ffffff;
                }
            }
        }
        
    }
}